In [2]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect("../database/MediLink.db")
c = conn.cursor()

In [11]:
df = pd.read_sql_query("""
        SELECT * 
        FROM Notices
        INNER JOIN NoticeContent ON Notices.noticeID = NoticeContent.noticeID
    """, conn)

In [12]:
df

,patientID,noticeID,doctorID,noticeID,Date,Message
0,BM00001,NT00001,TC00001,NT00001,2025-12-11,Your appointment is scheduled for 2024-11-20 a...